/* Variables*/
$green: #edffe5;
$green-alt: darken($green, 5);
$blue: #e5fffc;
$blue-alt: darken($blue, 5);
$red: #ffe5e5;
$red-alt: darken($red, 5);

* {
	margin: 0;
	padding: 0;
}

html{
	font-size: 62.5%;
}

body {
	background: #f2f2f2;
	color: #555555;
	font-family: Helvetica, Ariel, Serif;
	font-size: 1.6rem;
}

input, button, select {
	font-size: 1.3rem;
}

h1{
	font-weight: 300;
	font-size: 2.4rem; 
}

@import './components/title-bar';
@import './components/wrapper';
@import './components/item';
@import './components/button';
@import './components/form';
@import './components/player';
